Repository agence418/sw_app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored --max-warnings 0, prettier --write

feat: link bdd
  app/AdminApp.tsx
  app/CoachApp.tsx
  app/api/teams/route.ts
  app/modules/coach/ui/list-coaches.view.tsx
  app/modules/teams/ui/list-participants.view.tsx
  app/modules/teams/ui/list-teams.view.tsx
  app/modules/teams/ui/teams.view.tsx
  init.sql
  lib/db.ts
Due: eslint --fix --no-warn-ignored --max-warnings 0, prettier --write

build: improve precommit files
  .dockerignore
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  package.json
Due: prettier --write

feat: allow affecting coach to all teams
  app/modules/user-managment/participants/ui/list-teams.view.tsx
Due: eslint --fix --no-warn-ignored --max-warnings 0, prettier --write

ci: fix lint
  package.json
Due: prettier --write

style: improve participant view
  app/ParticipantApp.tsx
  app/modules/calendar/ui/now.view.tsx
Due: eslint --fix --no-warn-ignored --max-warnings 0, prettier --write

fix: manage votes by role
  DATABASE_SETUP.md
  app/AdminApp.tsx
  init.sql
  lib/db.ts
Due: eslint --fix --no-warn-ignored --max-warnings 0, prettier --write

fix: back to build with pnpm
  .lintstagedrc.json
  .prettierrc
  DATABASE_SETUP.md
  Dockerfile
Due: prettier --write

fix: removed event duration
  app/modules/calendar/ui/calendar.view.tsx
Due: eslint --fix --no-warn-ignored --max-warnings 0, prettier --write

feat: init first admin
  docker-compose.yml
  init.sql
Due: prettier --write

feat: add link to get qrcode sending to reset passord page on visitors
  app/(back)/api/auth/forgot-password/route.ts
  app/(back)/api/auth/get-reset-password-link/route.ts
  app/modules/auth/lib/reset-token.lib.ts
  app/modules/visitors/ui/list-visitors.view.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix --no-warn-ignored --max-warnings 0, prettier --write

feat: manage tools as admin
  app/(back)/api/tools/[id]/route.ts
  app/(back)/api/tools/route.ts
  app/AdminApp.tsx
  app/modules/tools/ui/manage-tools.view.tsx
  app/modules/tools/ui/tools.view.tsx
  lib/db.ts
  reset.sql
Due: eslint --fix --no-warn-ignored --max-warnings 0, prettier --write

feat: add visitors
  app/(back)/api/auth/forgot-password/route.ts
  app/(back)/api/visitor/[id]/route.ts
  app/(back)/api/visitor/route.ts
  app/VisitorApp.tsx
  app/modules/auth/ui/with-login.hoc.tsx
  app/modules/visitors/ui/list-visitors.view.tsx
  init.sql
  lib/db.ts
Due: eslint --fix --no-warn-ignored --max-warnings 0, prettier --write

Notes added by 'git notes add'
  7dcf7ed27322a7a0b4f5cbd3c61776723fcc4516
Due: none

Path conditions:
  eslint --fix --no-warn-ignored --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml,css,scss})
